doctype html
html
   head
      link(rel="stylesheet", href="./styles/styles.css")
      link(rel="stylesheet", href="./styles/normalize.css")

      title="Favoritos"
   body
      section.card
         each fav in allFavorites
            div.container            
               img.image(src=allFavorites.image, alt=allFavorites.company, style='width:100%')              
               h2 #{allFavorites.title} 
               h3 ID anuncio: #{allFavorites.adID}               
               p Empresa: #{allFavorites.company} 
               p Ubicación: #{allFavorites.location}
               p Salario: #{allFavorites.salary}
               p Descripción: #{allFavorites.description}
               br
               br
               hr