extends layout

block content
  .w3-card-4
    h2.titleSection Estos son tus anuncios favoritos
    div.sectionContainer
      if allFavorites
        each favorite in allFavorites
          ul.favoriteCard
            li
              img.imagen(src=favorite.image)
            li.title #{favorite.title}
            li.company #{favorite.company}
            li.location #{favorite.location}
            li.description #{favorite.description}
            li.date Fecha anuncio: #{favorite.date}
            li
              a.link(href=favorite.link, target='_blank') Más información
            if locals.user
              input.btnDelete(type='image', src='../assets/btnDelete.png', id='imgDelete', onClick="alert('Guardado en favorito')")
        else
          p No tienes ningún favorito guardado        
  include ./footer.pug
