doctype html
html
   head
      link(rel="stylesheet", href="./styles/home.css")
      link(rel="stylesheet", href="./styles/normalize.css")

      title="Home"
   body
    section.search    
        h1.titleSearch Buscar ofertas
        form.formSearch(action='/', method='POST')
            input.titleSearched(type='text', name='titleSearched', placeholder='Buscar oferta de empleo') 
            input.btnSearch(type='submit', value='Buscar')
    section.results
        div.adContainer
        each ad in adsTec
            img.imagen(src=adImage alt=nameCompany)
            ul.ad
                li.title #{allAdsTec.adTitle}
                li.nameCompany #{allAdsTec.adCompany}
                li.location #{allAdsTec.adLocation}
                li.description #{allAdsTec.adDescription}
                li.date Fecha anuncio: #{allAdsTec.adDate}
                li.link Más información: #{allAdsTec.adLink}