doctype html
html
   head
      link(rel="stylesheet", href="./styles/home.css")
      link(rel="stylesheet", href="./styles/normalize.css")

      title="Home"
   body
    section.search    
        h1.titleSearch Buscar ofertas
        form.formSearch(action='/', method='POST')
            input.titleSearched(type='text', name='titleSearched', placeholder='Buscar oferta de empleo') 
            input.btnSearch(type='submit', value='Buscar')
    section.results
        div.adContainer
        if data
            each ad in data
                img.imagen(src=ad.image)
                ul.ad
                    li.title #{ad.title}
                    li.nameCompany #{ad.company}
                    li.location #{ad.location}
                    li.description #{ad.description}
                    li.date Fecha anuncio: #{ad.date}
                a.link Más información: #{ad.link}