doctype html
html
  head 
      link(rel="stylesheet", href="../styles/search.css")
      link(rel="stylesheet" href="../styles/normalize.css")
      link(rel="stylesheet" href="../styles/styles.css")
  body  
    if locals.user
      h4 Bienvenido/a #{user.nickname}
    else
      p#infoSesion Para poder guardar ofertas como favoritas, por favor #[a(href="/login") inicia sesión].
    div#container  
      section.logo 
        img(src="../assets/logopur.png", alt="TSR Logo" id="logo")
      section.search    
        h1.titleSearch Buscar:
        form.formSearch(action='/', method='POST')
          input.titleSearched(type='text', name='titleSearched', placeholder='Ej: JavaScript') 
          input(type='image', src='../assets/searchpink.png', id='imgSearch') 
    div.mainContainer
      if data
        each ad in data
          div.allContent
            ul.ad                
              li.adImage
                img.imagen(src=ad.image)
              li.title #{ad.title}
              br
              li.company #{ad.company}
              br
              li.description #{ad.description}
              br
              li.date Fecha anuncio: #{ad.date}
              br
              li.location #{ad.location}
              br
              li.info
                a.link(href=ad.link, target='_blank') Más información
              if locals.user
                li.favorite
                  input(type='image', src='../assets/heartpink.png', id='imgSave', onClick="alert('Guardado en favorito')")
      else 
          br
          br
          p.tsrLabel ¿Preparado para encontrar tu primer empleo como desarrolador?
          p.tsrLabel En TSR seleccionaremos ofertas sin experiencia dentro de España. Tu sólo indica el lenguaje buscas
    
    include ./footer.pug
