extends layout

block content
  .w3-container
    if locals.user
      h4 Has iniciado sesión!
    else
      h4 No estás logeado! Por favor #[a(href="/login") inicia sesión].
    section.search    
      h1.titleSearch Buscar ofertas
      form.formSearch(action='/', method='POST')
        input.titleSearched(type='text', name='titleSearched', placeholder='Buscar oferta de empleo') 
        input.btnSearch(type='submit', value='Buscar')
    section.results
      div.adContainer
    if data
      each ad in data
        ul.ad
          li
            img.imagen(src=ad.image)
          li.title #{ad.title}
          li.company #{ad.company}
          li.location #{ad.location}
          li.description #{ad.description}
          li.date Fecha anuncio: #{ad.date}
          li
            a.link(href=ad.link, target='_blank') Más información
          if locals.user
            input.btnFavorite(type='button', value='GuardarFav')
    include ./footer.pug
