doctype html
html
   head
      link(rel="stylesheet", href="./styles/search.css")
      link(rel="stylesheet", href="./styles/normalize.css")

      title="Ofertas Laborales"

   body

   include ./header.pug 
      div 
         h1 Ofertas laborales encontradas: 
         h3 Filtros aplicados:
          
      each ad in Ads
      section.card
         img(src=#{ad.imagen}, alt='Avatar', style='width:100%')
         div.container            
            h2 Titulo #{ad.title}
            img(src=ad.imagen)
            p Empresa: #{ad.company} 
            p Ubicación: #{ad.location}
            p Salario: #{ad.salary}
            p Descripción: #{ad.description}
            p Oferta creada: #{ad.createdAt}


   include ./footer.pug