extends layout

block content
  .w3-card-4
    h1 Bienvenido #{allUserInfo.nickname}
    br
    img(src=allUserInfo.picture, alt = 'imagen')
    p #{allUserInfo.displayName}
    p #{allUserInfo.user_metadata}
    
    if allUserInfo.name 
      p Nombre: #{allUserInfo.name}
    if allUserInfo.lastname 
      p Apellidos: #{allUserInfo.lastname}
    if allUserInfo.favoritelanguage 
      p Lenguaje de programación favorito: #{allUserInfo.favoritelanguage}     

    h2 Añade o edita la información de tu perfil 
      form(action='/user', method='POST')
          input(type='text', name='name', placeholder='Nombre') 
          input(type='text', name='lastName', placeholder='Apellidos')
          input(type='text', name='favoriteLanguage', placeholder='Lenguaje de programación preferido')
          input(type='submit', value='Guardar información')
  include ./footer.pug
     