extends layout

block content
  .w3-card-4
   h1 #{allUserInfo.nickname}
    img(src=allUserInfo.picture, alt = 'imagen')
    p #{allUserInfo.displayName}
    p #{allUserInfo.user_metadata}
    
    if allUserInfo.0.name 
      p #{allUserInfo.0.name}
    if allUserInfo.0.lastname 
      p #{allUserInfo.0.lastname}
    if allUserInfo.0.favoritelanguage 
      p #{allUserInfo.0.favoritelanguage}     

    h2 A침ade informaci칩n a tu perfil 
      form(action='/user', method='POST')
          input(type='text', name='name', placeholder='Nombre') 
          input(type='text', name='lastName', placeholder='Apellidos')
          input(type='text', name='favoriteLanguage', placeholder='Lenguaje de programaci칩n preferido')
          input(type='submit', value='Guardar informaci칩n')
  include ./footer.pug
     